.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post_holder {
  margin-left: 10px;
  width: 100%;
}

.input {
  height: -webkit-calc(1.75em + 0.84rem + 2px);
  height: calc(1.75em + 0.84rem + 2px);
  width: calc(100% - 300px);
  padding: 0.42rem 0.84rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.75;
  color: #495057;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  margin-right: 10px;
}

.btn {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.75;
  border-radius: 0.4rem;
  display: inline;
  align-items: left;
  min-width: 200px;
  cursor: pointer;
}

.btn_primary {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}

.btn:hover {
  opacity: 0.85;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.85;
  background-color: #ccc;
}

.message_container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  margin-top: 10px;
  padding: 10px;
}

.message_author {
  padding: 5px;
  font-weight: 200;
}

.message_createdat {
  padding: 5px;
  font-weight: 200;
}

.message_content {
  padding: 10px;
  font-weight: 400;
  line-height: 1.75;
}
